body{
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 1em;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  line-height: 1.3;
}
p {
  text-align: center;
}

.wrap
{
 /*background-color:rgb(36,129,142); fuschia*/
 /*margin-right:  5%;
 margin-left: 5%;
 margin-bottom: 5%;
 margin-top: 0%; */
}

.header
{
  height: 25%;
  background-color: rgb(36, 129, 142); /*dark teal */
  margin-bottom: -24px;
  padding-bottom: 30px; 
}

.header span
{
  font-size: 24px;
  display: block;
}

.header a
{
  margin-left: 2em;
  text-align: right;
}

.header h1
{
  text-align: center;
  padding-bottom: 0px;
  margin-top: 5px;
  line-height: 0.5em;
}

.header h3
{
  text-align: left;
  width: 25%;
}

.header p
{
  text-align: right;
  width: 300px;
}

.content
{
  background-color: rgb(203, 220, 223); /* pale blue */
  /* display: block; */
}

.content span
{
  text-align: center;
  display: block;
  padding-top: 10px;
}

.form
{
  background-color: rgb(255,255,255);
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 20px;
}

.form h3
{
  background-color: rgb(253, 141, 101);
  margin-left: -15px;
  margin-top: 0px;
  margin-right: -50;
  text-align: center;
  padding-right: 20px;
  width: 105%;
}

.form p
{
  text-align: left;
  /* margin-bottom: -4; */
  padding-bottom: 4px;
  
}
.form input
{
  vertical-align: left;
}

.form label
{
  vertical-align: top;
}

